.hero {
  padding: 25px 5% 60px;
}

.hero__textbox > h1 {
  font-size: 2.2rem;
}

.hero__textbox p {
  margin-top: 10px;
  font-size: 17px;
  padding-right: 5px;
}

.hero__btn {
  font-size: 14px;
  padding: 10px 25px;
  margin-top: 20px;
  border: none;
  outline-width: 0;
  border-radius: 10px;
}

.hero__icon {
  font-size: 9px !important;
}

.hero__imgbox {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__imgbox {
    display: block;
    text-align: center;
  }

  .hero__txt {
    display: block;
  }

  .hero {
    display: grid;
    grid-template-columns: 60% 1fr;
  }

  .hero__img {
    width: 80%;
    height: 100%;
    max-height: 300px;
    object-fit: contain;
  }

  .hero__textbox {
    padding-right: 30px;
  }
}
