.imageGrid {
  padding: 3% 5%;
  margin-top: 30px;
}

.imageGrid > h4 {
  text-align: center;
}

.images {
  margin: 20px auto;
}

.img-box img {
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 500px) {
  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }
}
