.nav {
  padding-top: 20px;
}

.nav ul li:first-child {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.nav ul li:last-child {
  background-color: #f2f2f2;
}

.nav ul li > .links {
  display: block;
  font-size: 13px;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid lightgray;
}

.nav ul li img {
  height: 50px;
  object-fit: contain;
}

.newpost {
  text-align: center;
  margin-top: 30px;
}

.newpost button {
  padding: 20px 60px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid lightgray;
}
