.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid lightgrey;
  height: 80px;
}

.navigation__title {
  text-transform: uppercase;
  font-size: 1rem;
}

.navigation__line {
  height: 25px;
  width: 26px;
  position: relative;
  cursor: pointer;
  /* background-color: lightgray; */
}

.navigation__line-1 {
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: black;
  transition: width 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    top 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    transform 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}

.navigation__line:hover .navigation__line-1 {
  width: 19px;
  transition: width 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    top 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    transform 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}

.navigation__line-2 {
  position: absolute;
  top: 8px;
  width: 19px;
  right: 0;
  height: 1px;
  transform: scaleX(1);
  transform-origin: left;
  background-color: black;
  transition: width 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    top 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    transform 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}

.navigation__line:hover .navigation__line-2 {
  width: 100%;
  transition: width 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    top 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    transform 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}

.navigation__line-3 {
  position: absolute;
  top: 16px;
  width: 19px;
  right: 0;
  height: 1px;
  transform: scaleX(1);
  transform-origin: left;
  background-color: black;
  transition: width 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    top 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    transform 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}

.navigation__line:hover .navigation__line-3 {
  width: 100%;
  transition: width 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    top 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    transform 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}

.navigation__line-4 {
  position: absolute;
  top: 24px;
  width: 100%;
  right: 0;
  height: 1px;
  transform: scaleX(1);
  transform-origin: left;
  background-color: black;
  transition: width 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    top 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    transform 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}

.navigation__line:hover .navigation__line-4 {
  width: 19px;
  transition: width 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    top 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9),
    transform 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}

@media screen and (min-width: 500px) {
  .navigation__title {
    font-size: 1.5rem;
  }
}
