.singleQuote__header {
  padding-left: 5%;
  padding-right: 5%;
  height: 150px;
  background-color: #f2f2f2;
  margin-bottom: 50px;
  font-style: italic;
  display: flex;
  align-items: center;
}

.singleQuote__content {
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid;
}

.singleQuote__img {
  width: 100%;
  /* height: 300px; */
  object-fit: contain;
  margin-bottom: 20px;
}

.singleQuote__date {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 5px;
}

.singleQuote__title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.singleQuote__text {
  margin-bottom: 15px;
}

.singleQuote__capital {
  font-size: 1rem;
  margin-bottom: 20px;
}

.singleQuote__capital span {
  font-size: 1.4rem;
  font-weight: 600;
}

@media screen and (min-width: 500px) {
  .singleQuote__header {
    font-size: 1.4rem;
  }

  .singleQuote__date {
    font-size: 16px;
  }

  .singleQuote__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .singleQuote__img {
    width: 70%;
    /* height: 400px; */
  }
}
