* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", serif;
  font-weight: 500;
}

p {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}

.menu {
  cursor: pointer;
}

.links {
  text-decoration: none;
  color: initial;
}

.container {
  margin-top: 40px;
  padding: 3% 5%;
}

.container .quote {
  margin-bottom: 10px !important;
}

.container hr {
  /* width: 20%; */
  margin: 10px auto 50px;
}

.container__content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.container__btn {
  text-align: center;
  margin-top: 30px;
}

.container__btn button {
  background-color: transparent;
  padding: 5px;
  font-size: small;
  margin-top: 10px;
  outline-width: 0;
  border-radius: 5px;
}

.container__title {
  text-align: center;
  font-size: 1.3rem;
}

@media screen and (min-width: 400px) {
  .container__title {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 500px) {
  .container__title {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 700px) {
  .container__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .container__title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}
